
body {
  background-image: url('../img/bouj.jpg');
  background-size: cover;
 }

#page {
  background-color: #751aff;
  border-radius: 20px;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;}


h1 {
  background-image: url('../img/princess.png');
  background-repeat: no-repeat;
  background-size: 250px 115px;
  background-position: center;
  text-align: center;
  height: 75px;
  line-height: 75px;
  width: 117px;
  margin: 0 auto 0 auto;
  padding: 30px 75px 20px 75px;}

h2 {
  color:white;
  font-size: 24px;
  font-family: cursive;
  text-shadow: 4px 4px 3px rgba(32, 31, 31, 0.267);
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin: 0 0 20px 0;}

h3 {
  background-color: #fff;
  color: #000;
  font-family: cursive;
  text-align: center;
  font-size: 60px;
  letter-spacing: 0;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  margin-top: -17px;
  margin-bottom: 0px;
  height: 100px;
  width: 100px;
  padding: 0px 0 0 0;}

ol {
  counter-reset: li; /* Initiate a counter */
  border:none;
  padding: 0;
  margin: 0;}

  ol > li {
    position:relative; 
    margin:0 0 6px 2em;  
    list-style:none; 
    border-top:1px solid #806600;
    border-bottom:1px solid #806600;
    background: #cca300 ;
  }

  ol > li:before {
    content:counter(li); 
    counter-increment:li; 
    position:absolute;
    top:-1px;
    bottom: -1px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:1.35em;
    margin-right:4px;
    margin-left: 30px;
    padding:4px;
    border-top: 1px solid #806600;
    border-bottom: 1px solid #806600;
    color: black;
    background:#cca300;
    font-size: 45px;
    font-weight:bold;
    font-family: ordinal;
    text-align: right;
    text-shadow: none;
  }

li {
  background-color:#cca300;
  color: white;
  border-top: 1px solid #806600;
  border-bottom: 1px solid #806600;
  font-size: 30px;
  letter-spacing: .05em;
  text-shadow: 2px 1px 1px #000000;
  text-align: left;
  height: 50px;
  padding-left: 1em;
  padding-top: 10px;}

li a {
  color: black;
  background-image: url('../images/icon-link.png');
  background-position: right, center;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-right: 36px;}


p {
  background-color: #fff;
  color: #666; 
  padding: 10px;
  display: inline-block;
  margin: 20px auto 20px auto;
  width: 80%;
  border-radius: 5px;
  text-align: center;}


.complete {
  background-color: #ff1ac6;
  color: black;
  background-image: url("../img/icon-trash.png");
  background-position: right, center;
  background-repeat: no-repeat;
  border-top: 1px solid #b30086;
  border-bottom: 1px solid #b30086;
  text-shadow: 1px 1px 1px rgb(65, 64, 64);}

.complete a {display:block;}

.complete::before{
  background-color: #ff1ac6;
  color: black;
  border-top: 1px solid #b30086;
  border-bottom: 1px solid #b30086;
  text-shadow: 1px 1px 1px rgb(65, 64, 64);
  
}

.complete::after{
  margin-left: 2px;
  content: '(Done)';
  font-size: 20px;
  color: white;
}
.favorite {
  background-image: url('../images/icon-heart.png');
  background-position: right, center;
  background-repeat: no-repeat;}

em.seasonal
 {
  background-image: url('../images/icon-calendar.png');
  background-position: left  center;
  background-repeat: no-repeat;
  padding-left: 30px;}


/* FORM STYLES */

form {
  padding: 0 20px 20px 20px;}

label {
  color: #fff;
  display: block;
  margin: 10px 0 10px 0;
  font-size: 24px;}

input[type='text'], input[type='password'], textarea {
  background-color: #999;
  color: #333;
  font-size: 24px;
  width: 96%;
  padding: 4px 6px;
  border: 1px solid #999;
  border-radius: 8px;}

input[type='submit'], a.add, button, a.show {
  background-color: #cca300;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  margin-top: 10px;
  font-family: 'Oswald', 'Futura', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;}

input[type='submit'], a.add, button {
  float: right;} 

input[type='text']:focus, input[type='password']:focus, textarea:focus {
  border: 1px solid #fff;
  background-color: #fff;
  outline: none;}

input[type='submit']:hover, a.add:hover, a.show:hover {
  background-color:  #997a00;
  color: #fff;
  cursor: pointer;}


::-webkit-input-placeholder {color: #403c3b; font-family: arial, sans-serif;}
:-moz-placeholder { /* Firefox 18- */ color: #403c3b; font-family: arial, sans-serif;}
::-moz-placeholder {  /* Firefox 19+ */ color: #403c3b; font-family: arial, sans-serif;}
:-ms-input-placeholder { color: #403c3b; font-family: arial, sans-serif;}


textarea {
  width: 96%;
  height: 5em;
  line-height: 1.4em;}

select, option {
  font-size: 16px;}

#feedback, #termsHint {
  color: #fff;
  background-image: url('../images/warning.png');
  background-repeat: no-repeat;
  background-position: 2px 14px;
  padding: 10px 0 0 22px;}

#packageHint {
  color: #fff;
  background-image: url('../images/hint.png');
  background-repeat: no-repeat;
  background-position: 2px 5px;
  padding-left: 22px;}

label.selectbox {
  display: inline;}

label.checkbox {
  display: inline;
  font-size: 16px;}

/* Link to show list */
h2 a {
  font-size: 12px; }

a.show{
  font-size: 12px; 
  padding: 5px; 
  letter-spacing: 0; 
  position: relative;
  top: -5px;
  left: 10px;}

/* form example */
#newItemButton {padding: 10px 20px 75px 20px; display: none;}
#newItemForm {padding-top: 20px;}
#itemDescription {width: 360px;}
#newItemForm input[type='submit'] {margin-top: 0; text-align: left;}

/* Attributes example */
#group {
  margin: 10px;
  border: 2px solid #fff;}

/* Events object */
.date, li i {
  font-size: 12px;
  padding-left: 8px;}


/* Additional styles for position example */
#slideAd {
  width: 130px;
  height: 60px;
  background-color: #403c3b;
  background-image: url('../images/adverlion.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 25px 20px 10px 85px;
  position: fixed;
  bottom: 20px;
  right: -235px;
  text-transform: uppercase;}

#footer {
  background:none;
  color: #fff;}

/* Small screen:mobile */
@media only screen and (max-width: 500px) {
  body {
      background-color: #403c3b;
  }
  #page {
    max-width: 480px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}